# Pandas: grouping

In [24]:
import pandas as pd
import numpy as np

In [25]:
cars = pd.read_csv("data/vehicles.csv")

In [26]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [27]:
### your code is here
cars["Model"].value_counts()

F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
C300 Convertible       1
C300 Coupe             1
C300 FFV               1
C320 4matic Sedan      1
DJ Po Vehicle 2WD      1
Name: Model, Length: 3608, dtype: int64

Group the data by the Make using count function

In [37]:
### your code us here
cars["Make"].value_counts()

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

What brand has the most cars?

In [29]:
### your code us here
make = cars['Model'].value_counts().index[0]
make

'F150 Pickup 2WD'

<b>show the average CO2_Emission_Grams/Km  by Brand

In [30]:
### your code us here
cars.sort_values("CO2 Emission Grams/Mile")

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
3071,BMW,i3 REX,2016,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,37.000000,1050
3069,BMW,i3 REX,2014,0.6,2.0,Auto(A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,40.000000,1050
3070,BMW,i3 REX,2015,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,40.000000,1050
7916,Chevrolet,Volt,2016,1.5,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular Gas or Electricity,2.006844,43,42,42,51.000000,800
7917,Chevrolet,Volt,2017,1.5,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular Gas or Electricity,2.006844,43,42,42,51.000000,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20897,Lamborghini,Countach,1989,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20894,Lamborghini,Countach,1986,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20898,Lamborghini,Countach,1990,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20896,Lamborghini,Countach,1988,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20895,Lamborghini,Countach,1987,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800

In [31]:
cars.groupby(["Make"])[["CO2 Emission Grams/Mile"]].mean()

                             CO2 Emission Grams/Mile
Make
AM General                                611.358244
ASC Incorporated                          555.437500
Acura                                     422.585325
Alfa Romeo                                463.952115
American Motors Corporation               505.758823
...                                              ...
Volkswagen                                392.741721
Volvo                                     435.803755
Wallace Environmental                     657.990029
Yugo                                      356.068256
smart                                     247.030556

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [32]:
### your code us here
cars.groupby(["Make"])[["CO2 Emission Grams/Mile"]].mean().sort_values("CO2 Emission Grams/Mile")

                                    CO2 Emission Grams/Mile
Make
Fisker                                           169.000000
smart                                            247.030556
Fiat                                             304.666560
Daihatsu                                         310.188060
MINI                                             313.716862
...                                                     ...
Laforza Automobile Inc                           807.909091
Bugatti                                          873.062500
Superior Coaches Div E.p. Dutton                 888.700000
S and S Coach Company  E.p. Dutton               888.700000
Vector                                          1049.159722

[127 rows x 1 columns]

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [33]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [34]:
## your code here
cars['Decade'] = pd.cut(cars['Year'],bins=4,labels=['80s','90s','00s','10s'])

In [35]:
cars[['Year','Decade']]

       Year Decade
0      1984    80s
1      1984    80s
2      1985    80s
3      1985    80s
4      1987    80s
...     ...    ...
35947  2013    10s
35948  2014    10s
35949  2015    10s
35950  2016    10s
35951  2016    10s

[35952 rows x 2 columns]

In [36]:
cars.loc[:,['Year','Decade']]

       Year Decade
0      1984    80s
1      1984    80s
2      1985    80s
3      1985    80s
4      1987    80s
...     ...    ...
35947  2013    10s
35948  2014    10s
35949  2015    10s
35950  2016    10s
35951  2016    10s

[35952 rows x 2 columns]

In [60]:
cars["Year_range"]= pd.cut(cars["Year"], 
                             bins = [1980,1989,1999,2009,2019],
                             labels=["80s", "90s", "00s", "10s"])

cars.loc[:,['Year','Decade','Year_range']]

       Year Decade Year_range
0      1984    80s        80s
1      1984    80s        80s
2      1985    80s        80s
3      1985    80s        80s
4      1987    80s        80s
...     ...    ...        ...
35947  2013    10s        10s
35948  2014    10s        10s
35949  2015    10s        10s
35950  2016    10s        10s
35951  2016    10s        10s

[35952 rows x 3 columns]

### Did cars consume more gas in the eighties?

* No, cars consumed more gas in the 10s

Show the average City_Km/Liter by year_range.

In [41]:
### your code is here
cars.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year', 'Decade', 'Year_range'],
      dtype='object')

In [44]:
cars.groupby(["Year_range"])[['Year_range',"City MPG"]].mean("City MPG")

             City MPG
Year_range
80s         17.327209
90s         16.954091
00s         16.834199
10s         19.546763

**Which brands are more environment friendly?**

* Fisker, Smart and Fiat are the thee brands more enviromentaly friendly.

In [58]:
### your code is here
cars.groupby(["Make"])[["Make","CO2 Emission Grams/Mile"]].mean("CO2 Emission Grams/Mile").sort_values("CO2 Emission Grams/Mile",ascending=True)

                                    CO2 Emission Grams/Mile
Make
Fisker                                           169.000000
smart                                            247.030556
Fiat                                             304.666560
Daihatsu                                         310.188060
MINI                                             313.716862
...                                                     ...
Laforza Automobile Inc                           807.909091
Bugatti                                          873.062500
Superior Coaches Div E.p. Dutton                 888.700000
S and S Coach Company  E.p. Dutton               888.700000
Vector                                          1049.159722

[127 rows x 1 columns]

**Does the Drivetrain affect fuel consumption?**

In [63]:
## Your Code here
cars.groupby(["Drivetrain"])[["City MPG"]].mean().sort_values("City MPG",ascending=False)

                             City MPG
Drivetrain
2-Wheel Drive, Front        25.000000
Front-Wheel Drive           21.174563
All-Wheel Drive             18.312898
4-Wheel Drive               16.913989
2-Wheel Drive               15.624113
Rear-Wheel Drive            15.422049
4-Wheel or All-Wheel Drive  15.035061
Part-time 4-Wheel Drive     14.620253

**Do cars with automatic transmission consume more fuel than cars with manual transmission?**
* Yes, cars with automatic transmission consume more fuel than cars with manual transmission.

In [65]:
## Your Code here
cars.groupby(["Transmission"])[["City MPG"]].mean().sort_values("City MPG",ascending=False)

                                   City MPG
Transmission
Auto(A1)                          41.000000
Auto (AV)                         35.000000
Automatic (A1)                    34.000000
Auto(AM5)                         33.666667
Automatic (AM5)                   33.000000
Auto(AV-S7)                       27.952381
Automatic (variable gear ratios)  27.460741
Auto(AV-S6)                       25.944828
Auto(AM-S6)                       24.315217
Auto(AM6)                         23.909091
Automatic (AV-S6)                 23.666667
Auto(AM-S8)                       23.666667
Auto(AV-S8)                       22.846154
Auto(AM8)                         22.400000
Auto (AV-S6)                      22.000000
Automatic (AV)                    21.750000
Auto(AM-S9)                       21.000000
Automatic 6spd                    21.000000
Automatic 9-spd                   20.077778
Auto (AV-S8)                      20.000000
Automatic (S9)                    19.923077
Manual 5-spd                      19.242327
Automatic (S8)                    18.450000
Automatic (S6)                    18.337514
Manual 6-spd                      18.306232
Manual 7-spd                      18.220588
Automatic (S4)                    18.074236
Auto(AM-S7)                       17.746094
Automatic 3-spd                   17.449750
Automatic 7-spd                   17.117825
Automatic (S5)                    17.087591
Manual 4-spd                      16.871363
Automatic (S7)                    16.804598
Automatic 6-spd                   16.720670
Automatic 8-spd                   16.576132
Auto(AM7)                         16.248408
Automatic 4-spd                   15.944261
Automatic 5-spd                   15.445417
Manual 3-spd                      14.229730
Manual 5 spd                      14.000000
Manual(M7)                        14.000000
Auto(L3)                          14.000000
Automatic (A6)                    14.000000
Auto(L4)                          13.500000
Automatic (AM6)                   13.000000

Use `groupby` and `aggregate` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [69]:
## your code is here
Automatic = []
Manual = []
for i in cars:
    if cars.startswith("A"):
        Automatic.append(i)
        
    elif cars.startswith("M"):
        Manual.append(i)

AttributeError: 'DataFrame' object has no attribute 'startswith'

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857

In [ ]:
cars.groupby("Transmission").aggregate({"City MPG":"mean","Transmission":"count"}