## Comparing regression models

**1. Define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.**

In [143]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
from sklearn.datasets import load_boston
from sklearn.preprocessing import StandardScaler

In [144]:
file = pd.read_csv('file3_clean.csv')
file.head()

,Unnamed: 0,Customer,ST,Customer Lifetime Value,Education,GENDER,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [145]:
file= pd.get_dummies(data=file, columns=['ST', 'Education', 'GENDER', 'Policy Type', 'Vehicle Class'])
file.drop(['Customer'], axis = 1, inplace = True) 
file.head()

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,ST_Arizona,ST_California,ST_Nevada,ST_Oregon,ST_Washington,Education_Bachelor,Education_College,Education_Doctor,Education_High School or Below,Education_Master,GENDER_F,GENDER_M,Policy Type_Corporate Auto,Policy Type_Personal Auto,Policy Type_Special Auto,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car
0,0,3479.137523,0,104,0,499.200000,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1
1,1,2502.637401,0,66,0,3.468912,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,1
2,2,3265.156348,25820,82,0,393.600000,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0
3,3,4455.843406,0,121,0,699.615192,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0
4,4,7704.958480,30366,101,2,484.800000,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0

In [157]:
X = file.drop(columns=['Unnamed: 0','Total Claim Amount'], axis = 1)
y = file['Total Claim Amount']

**2. Use the function to check LinearRegressor,Lasso,Ridge and KNeighborsRegressor.**

In [158]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [159]:
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

*LinearRegressor*

In [160]:
model=LinearRegression()
model.fit(X_train_scaled, y_train)
print(f"{model.__class__.__name__}: Train -> {model.score(X_train_scaled, y_train)}, Test -> {model.score(X_test_scaled, y_test)}")

LinearRegression: Train -> 0.5406946664063762, Test -> 0.5157129315232745

*Lasso*

In [161]:
from sklearn.linear_model import Lasso,Ridge,ElasticNet, LinearRegression

model=Lasso(alpha=0.05)
model.fit(X_train_scaled, y_train)

model.score(X_train_scaled, y_train)
model.score(X_test_scaled, y_test)

print(f"{model.__class__.__name__}: Train -> {model.score(X_train_scaled, y_train)}, Test -> {model.score(X_test_scaled, y_test)}")

Lasso: Train -> 0.540777454113679, Test -> 0.515431897871716

*Ridge*

In [162]:
model=Ridge(alpha=10000)
model.fit(X_train_scaled, y_train)

model.score(X_train_scaled, y_train)
model.score(X_test_scaled, y_test)

print(f"{model.__class__.__name__}: Train -> {model.score(X_train_scaled, y_train)}, Test -> {model.score(X_test_scaled, y_test)}")

Ridge: Train -> 0.39139485576015365, Test -> 0.3625858226830213

*KNeighborsRegressor*

In [163]:
model=ElasticNet(alpha=0.1)
model.fit(X_train_scaled, y_train)

model.score(X_train_scaled, y_train)
model.score(X_test_scaled, y_test)

print(f"{model.__class__.__name__}: Train -> {model.score(X_train_scaled, y_train)}, Test -> {model.score(X_test_scaled, y_test)}")

ElasticNet: Train -> 0.5384621234006903, Test -> 0.5101112216925952

**3. Use feature selection techniques to select subset of features to train the model with (if necessary).**

In [167]:
X = file.drop(columns=['Unnamed: 0','Total Claim Amount'], axis = 1)
y = file['Total Claim Amount']
X_added_constant = sm.add_constant(X)
X_added_constant

,const,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,ST_Arizona,ST_California,ST_Nevada,ST_Oregon,ST_Washington,Education_Bachelor,Education_College,Education_Doctor,Education_High School or Below,Education_Master,GENDER_F,GENDER_M,Policy Type_Corporate Auto,Policy Type_Personal Auto,Policy Type_Special Auto,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car
0,1.0,3479.137523,0,104,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1
1,1.0,2502.637401,0,66,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,1
2,1.0,3265.156348,25820,82,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0
3,1.0,4455.843406,0,121,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0
4,1.0,7704.958480,30366,101,2,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,1.0,23405.987980,71941,73,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0
7066,1.0,3096.511217,21604,79,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0
7067,1.0,8163.890428,0,85,3,0,1,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0
7068,1.0,7524.442436,21941,96,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,0,0,0,0
7069,1.0,2611.836866,0,77,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,1

In [168]:
model = sm.OLS(y,X_added_constant).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     Total Claim Amount   R-squared:                       0.536
Model:                            OLS   Adj. R-squared:                  0.535
Method:                 Least Squares   F-statistic:                     407.6
Date:                Wed, 04 May 2022   Prob (F-statistic):               0.00
Time:                        16:59:41   Log-Likelihood:                -47431.
No. Observations:                7070   AIC:                         9.490e+04
Df Residuals:                    7049   BIC:                         9.505e+04
Df Model:                          20
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                             31.3073      8.715      3.592      0.000      14.223      48.392
Customer Lifetime Value           -0.0004      0.000     -1.045      0.296      -0.001       0.000
Income                            -0.0033   7.82e-05    -41.590      0.000      -0.003      -0.003
Monthly Premium Auto               5.1834      0.147     35.367      0.000       4.896       5.471
Number of Open Complaints         -0.6557      2.584     -0.254      0.800      -5.722       4.410
ST_Arizona                         3.8078      5.339      0.713      0.476      -6.657      14.273
ST_California                      8.1852      4.411      1.855      0.064      -0.462      16.833
ST_Nevada                         -1.4048      6.899     -0.204      0.839     -14.928      12.119
ST_Oregon                          4.3315      4.696      0.922      0.356      -4.874      13.537
ST_Washington                     16.3877      7.222      2.269      0.023       2.230      30.545
Education_Bachelor                21.7656      4.879      4.461      0.000      12.201      31.330
Education_College                 14.2283      4.935      2.883      0.004       4.554      23.903
Education_Doctor                 -32.5361     10.471     -3.107      0.002     -53.063     -12.009
Education_High School or Below    66.3805      4.967     13.364      0.000      56.644      76.117
Education_Master                 -38.5309      7.520     -5.124      0.000     -53.272     -23.790
GENDER_F                          -1.1654      5.025     -0.232      0.817     -11.017       8.686
GENDER_M                          32.4727      4.890      6.640      0.000      22.886      42.059
Policy Type_Corporate Auto        -1.7599      5.805     -0.303      0.762     -13.140       9.620
Policy Type_Personal Auto          8.4938      5.080      1.672      0.095      -1.464      18.452
Policy Type_Special Auto          24.5733      9.084      2.705      0.007       6.765      42.381
Vehicle Class_Four-Door Car       -7.6944      8.752     -0.879      0.379     -24.851       9.463
Vehicle Class_Luxury Car          58.2508     19.413      3.001      0.003      20.195      96.307
Vehicle Class_Luxury SUV          29.4313     18.819      1.564      0.118      -7.459      66.322
Vehicle Class_SUV                -12.4249      6.221     -1.997      0.046     -24.621      -0.229
Vehicle Class_Sports Car         -31.3076      9.609     -3.258      0.001     -50.143     -12.472
Vehicle Class_Two-Door Car        -4.9479      9.428     -0.525      0.600     -23.430      13.534
==============================================================================
Omnibus:                      718.472   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4558.699
Skew:                           0.266   Prob(JB):                         0.00
Kurtosis:                       6.898   Cond. No.                     8.67e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.21e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [171]:
X_added_constant = X_added_constant.drop(['Customer Lifetime Value','Number of Open Complaints','' , ], axis=1)
model = sm.OLS(y,X_added_constant).fit()
model.summary()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [99]:
import seaborn as sns
import matplotlib.pyplot as plt

c = abs(.corr())
#c

#fig, ax = plt.subplots(figsize=(14,14))
#sns.heatmap(c, annot=True);

#c['SalePrice']
c_last = c['Total Claim Amount'].sort_values(ascending=False)
#c_last: show the correlation with sale price 
c_thr = .3 
cols_to_keep = list(c_last[c_last > c_thr].index)[1:] + [list(c_last[c_last > c_thr].index)[0]]
print(cols_to_keep)

file[cols_to_keep]

SyntaxError: invalid syntax (162241503.py, line 4)