## Comparing regression models

**1. Define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.**

In [134]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
from sklearn.datasets import load_boston
from sklearn.preprocessing import StandardScaler

In [135]:
file = pd.read_csv('file3_clean.csv')
file.head()

,Unnamed: 0,Customer,ST,Customer Lifetime Value,Education,GENDER,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [136]:
file= pd.get_dummies(data=file, columns=['ST', 'Education', 'GENDER', 'Policy Type', 'Vehicle Class'])
file.drop(['Customer'], axis = 1, inplace = True) 
file.head()

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,ST_Arizona,ST_California,ST_Nevada,ST_Oregon,ST_Washington,Education_Bachelor,Education_College,Education_Doctor,Education_High School or Below,Education_Master,GENDER_F,GENDER_M,Policy Type_Corporate Auto,Policy Type_Personal Auto,Policy Type_Special Auto,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car
0,0,3479.137523,0,104,0,499.200000,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1
1,1,2502.637401,0,66,0,3.468912,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,1
2,2,3265.156348,25820,82,0,393.600000,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0
3,3,4455.843406,0,121,0,699.615192,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0
4,4,7704.958480,30366,101,2,484.800000,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0

In [137]:
X = file.drop(columns=['Unnamed: 0','Total Claim Amount'], axis = 1)
y = np.log(file['Total Claim Amount'])

**2. Use the function to check LinearRegressor,Lasso,Ridge and KNeighborsRegressor.**

*LinearRegressor*

In [138]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [139]:
scaler = StandardScaler()
X_train1 = StandardScaler().fit_transform(X_train.values)

In [140]:
X_train1

array([[ 0.25731041, -1.23095686,  1.12539878, ...,  2.0294216 ,
        -0.23499762, -0.51262254],
       [-0.52127244, -0.56074114,  0.63257264, ..., -0.49275123,
        -0.23499762,  1.95075307],
       [-0.53105199, -1.23095686, -0.8459058 , ..., -0.49275123,
        -0.23499762, -0.51262254],
       ...,
       [-0.46522249, -0.80491603, -0.81691602, ..., -0.49275123,
        -0.23499762,  1.95075307],
       [-0.11069182,  0.51783493, -0.06318192, ..., -0.49275123,
        -0.23499762, -0.51262254],
       [-0.51290539,  1.68116564,  0.51661354, ...,  2.0294216 ,
        -0.23499762, -0.51262254]])

*Lasso*

In [129]:
from sklearn.linear_model import Lasso,Ridge,ElasticNet, LinearRegression

model=Lasso(alpha=0.05)
model.fit(X_train1, y_train)

model.score(X_train1, y_train)
model.score(X_test, y_test)

print(f"{model.__class__.__name__}: Train -> {model.score(X_train1, y_train)}, Test -> {model.score(X_test, y_test)}")

Lasso: Train -> 0.2571606464840517, Test -> 0.262238871271289

*Ridge*

In [131]:
model=Ridge(alpha=10000)
model.fit(X_train1, y_train)

model.score(X_train1, y_train)
model.score(X_test, y_test)

print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

Ridge: Train -> 0.2571633546689135, Test -> 0.26222153691649674

*KNeighborsRegressor*

In [132]:
model=ElasticNet(alpha=0.1)
model.fit(X_train1, y_train)

model.score(X_train1, y_train)
model.score(X_test, y_test)

print(f"{model.__class__.__name__}: Train -> {model.score(X_train1, y_train)}, Test -> {model.score(X_test, y_test)}")

ElasticNet: Train -> 0.25716058703656763, Test -> 0.26223910695831765

**3. Use feature selection techniques to select subset of features to train the model with (if necessary).**

In [94]:
X = file.drop(columns=['Unnamed: 0','Total Claim Amount'], axis = 1)
y = np.log(file['Total Claim Amount'])
X_added_constant = sm.add_constant(X)
X_added_constant

,const,Customer,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,ST_Arizona,ST_California,ST_Nevada,ST_Oregon,ST_Washington,Education_Bachelor,Education_College,Education_Doctor,Education_High School or Below,Education_Master,GENDER_F,GENDER_M,Policy Type_Corporate Auto,Policy Type_Personal Auto,Policy Type_Special Auto,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car
0,1.0,SA25987,3479.137523,0,104,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1
1,1.0,TB86706,2502.637401,0,66,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,1
2,1.0,ZL73902,3265.156348,25820,82,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0
3,1.0,KX23516,4455.843406,0,121,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0
4,1.0,FN77294,7704.958480,30366,101,2,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,1.0,LA72316,23405.987980,71941,73,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0
7066,1.0,PK87824,3096.511217,21604,79,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0
7067,1.0,TD14365,8163.890428,0,85,3,0,1,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0
7068,1.0,UP19263,7524.442436,21941,96,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,0,0,0,0
7069,1.0,Y167826,2611.836866,0,77,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,1

In [97]:
model = sm.OLS(y,X_added_constant).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     Total Claim Amount   R-squared:                       0.276
Model:                            OLS   Adj. R-squared:                  0.274
Method:                 Least Squares   F-statistic:                     134.5
Date:                Tue, 03 May 2022   Prob (F-statistic):               0.00
Time:                        15:23:42   Log-Likelihood:                -8165.2
No. Observations:                7070   AIC:                         1.637e+04
Df Residuals:                    7049   BIC:                         1.652e+04
Df Model:                          20
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                              2.1482      0.034     63.652      0.000       2.082       2.214
Customer Lifetime Value         5.433e-07   1.44e-06      0.376      0.707   -2.29e-06    3.37e-06
Income                         -9.865e-06   3.03e-07    -32.574      0.000   -1.05e-05   -9.27e-06
Monthly Premium Auto               0.0098      0.001     17.350      0.000       0.009       0.011
Number of Open Complaints          0.0007      0.010      0.074      0.941      -0.019       0.020
ST_Arizona                         0.4318      0.021     20.886      0.000       0.391       0.472
ST_California                      0.4364      0.017     25.549      0.000       0.403       0.470
ST_Nevada                          0.3920      0.027     14.673      0.000       0.340       0.444
ST_Oregon                          0.4237      0.018     23.298      0.000       0.388       0.459
ST_Washington                      0.4643      0.028     16.602      0.000       0.409       0.519
Education_Bachelor                 0.4961      0.019     26.257      0.000       0.459       0.533
Education_College                  0.4596      0.019     24.046      0.000       0.422       0.497
Education_Doctor                   0.2896      0.041      7.142      0.000       0.210       0.369
Education_High School or Below     0.6049      0.019     31.448      0.000       0.567       0.643
Education_Master                   0.2980      0.029     10.235      0.000       0.241       0.355
GENDER_F                           1.0176      0.019     52.290      0.000       0.979       1.056
GENDER_M                           1.1306      0.019     59.701      0.000       1.093       1.168
Policy Type_Corporate Auto         0.6577      0.022     29.255      0.000       0.614       0.702
Policy Type_Personal Auto          0.7071      0.020     35.948      0.000       0.669       0.746
Policy Type_Special Auto           0.7834      0.035     22.269      0.000       0.714       0.852
Vehicle Class_Four-Door Car        0.3906      0.034     11.523      0.000       0.324       0.457
Vehicle Class_Luxury Car           0.2845      0.075      3.785      0.000       0.137       0.432
Vehicle Class_Luxury SUV           0.1772      0.073      2.432      0.015       0.034       0.320
Vehicle Class_SUV                  0.4654      0.024     19.318      0.000       0.418       0.513
Vehicle Class_Sports Car           0.4398      0.037     11.821      0.000       0.367       0.513
Vehicle Class_Two-Door Car         0.3906      0.037     10.699      0.000       0.319       0.462
==============================================================================
Omnibus:                     3897.255   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            35662.839
Skew:                          -2.509   Prob(JB):                         0.00
Kurtosis:                      12.792   Cond. No.                     8.67e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.21e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [98]:
X_added_constant = X_added_constant.drop(['Customer Lifetime Value','Number of Open Complaints'], axis=1)
model = sm.OLS(y,X_added_constant).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     Total Claim Amount   R-squared:                       0.276
Model:                            OLS   Adj. R-squared:                  0.274
Method:                 Least Squares   F-statistic:                     149.4
Date:                Tue, 03 May 2022   Prob (F-statistic):               0.00
Time:                        15:25:42   Log-Likelihood:                -8165.2
No. Observations:                7070   AIC:                         1.637e+04
Df Residuals:                    7051   BIC:                         1.650e+04
Df Model:                          18
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                              2.1486      0.034     63.749      0.000       2.083       2.215
Income                         -9.861e-06   3.03e-07    -32.583      0.000   -1.05e-05   -9.27e-06
Monthly Premium Auto               0.0099      0.001     17.748      0.000       0.009       0.011
ST_Arizona                         0.4318      0.021     20.893      0.000       0.391       0.472
ST_California                      0.4365      0.017     25.562      0.000       0.403       0.470
ST_Nevada                          0.3920      0.027     14.680      0.000       0.340       0.444
ST_Oregon                          0.4238      0.018     23.309      0.000       0.388       0.459
ST_Washington                      0.4644      0.028     16.609      0.000       0.410       0.519
Education_Bachelor                 0.4962      0.019     26.273      0.000       0.459       0.533
Education_College                  0.4596      0.019     24.067      0.000       0.422       0.497
Education_Doctor                   0.2895      0.041      7.141      0.000       0.210       0.369
Education_High School or Below     0.6051      0.019     31.473      0.000       0.567       0.643
Education_Master                   0.2982      0.029     10.243      0.000       0.241       0.355
GENDER_F                           1.0178      0.019     52.372      0.000       0.980       1.056
GENDER_M                           1.1307      0.019     59.761      0.000       1.094       1.168
Policy Type_Corporate Auto         0.6576      0.022     29.263      0.000       0.614       0.702
Policy Type_Personal Auto          0.7071      0.020     35.978      0.000       0.669       0.746
Policy Type_Special Auto           0.7838      0.035     22.295      0.000       0.715       0.853
Vehicle Class_Four-Door Car        0.3903      0.034     11.523      0.000       0.324       0.457
Vehicle Class_Luxury Car           0.2842      0.075      3.782      0.000       0.137       0.432
Vehicle Class_Luxury SUV           0.1777      0.073      2.440      0.015       0.035       0.321
Vehicle Class_SUV                  0.4656      0.024     19.330      0.000       0.418       0.513
Vehicle Class_Sports Car           0.4402      0.037     11.838      0.000       0.367       0.513
Vehicle Class_Two-Door Car         0.3905      0.037     10.698      0.000       0.319       0.462
==============================================================================
Omnibus:                     3898.238   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            35689.784
Skew:                          -2.510   Prob(JB):                         0.00
Kurtosis:                      12.796   Cond. No.                     9.28e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.9e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [99]:
import seaborn as sns
import matplotlib.pyplot as plt

c = abs(.corr())
#c

#fig, ax = plt.subplots(figsize=(14,14))
#sns.heatmap(c, annot=True);

#c['SalePrice']
c_last = c['Total Claim Amount'].sort_values(ascending=False)
#c_last: show the correlation with sale price 
c_thr = .3 
cols_to_keep = list(c_last[c_last > c_thr].index)[1:] + [list(c_last[c_last > c_thr].index)[0]]
print(cols_to_keep)

file[cols_to_keep]

SyntaxError: invalid syntax (162241503.py, line 4)