In [566]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox

In [567]:
def load_original_data():
    file3 = pd.read_csv('file3.csv')
    return file3

In [568]:
def rename_columns():
    file3 = load_original_data()
    file3.rename(columns={'State':'ST', 'Gender': 'GENDER'}, inplace=True )
    return file3

In [569]:
file3= rename_columns()

In [570]:
file3.to_csv('file3_clean.csv')

In [571]:
def load_original_data():
    file1 = pd.read_csv('file1.csv')
    file2 = pd.read_csv('file2.csv')
    file3 = pd.read_csv('file3_clean.csv')
    return pd.concat([file1,file2,file3], axis=0)

In [572]:
customer_df=load_original_data()

In [573]:
def lower_case_column_names(customer_df):
    customer_df.columns=[i.lower() for i in customer_df.columns]
    return customer_df

In [574]:
lower_case_column_names(customer_df)

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,unnamed: 0
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,7065.0
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,7066.0
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,7067.0
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,7068.0
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,7069.0

In [575]:
def drop_columns(customer_df) :
    customer_df.drop(columns=["customer"], inplace=True)
    return customer_df

In [576]:
drop_columns(customer_df)

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,unnamed: 0
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,7065.0
7066,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,7066.0
7067,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,7067.0
7068,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,7068.0
7069,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,7069.0

In [577]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   st                         9137 non-null   object
 1   gender                     9015 non-null   object
 2   education                  9137 non-null   object
 3   customer lifetime value    9130 non-null   object
 4   income                     9137 non-null   float64
 5   monthly premium auto       9137 non-null   float64
 6   number of open complaints  9137 non-null   object
 7   policy type                9137 non-null   object
 8   vehicle class              9137 non-null   object
 9   total claim amount         9137 non-null   float64
 10  unnamed: 0                 7070 non-null   float64
dtypes: float64(4), object(7)
memory usage: 1.1+ MB

In [578]:
customer_df

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,unnamed: 0
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,7065.0
7066,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,7066.0
7067,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,7067.0
7068,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,7068.0
7069,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,7069.0

In [579]:
customer_df['number of open complaints'] =  pd.to_numeric(customer_df['number of open complaints'], errors ='ignore')
customer_df

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,unnamed: 0
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,7065.0
7066,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,7066.0
7067,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,7067.0
7068,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,7068.0
7069,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,7069.0

In [580]:
customer_df['number of open complaints'].unique().tolist()

['1/0/00',
 '1/2/00',
 '1/1/00',
 '1/3/00',
 '1/5/00',
 '1/4/00',
 nan,
 0,
 2,
 3,
 1,
 5,
 4]

In [581]:
customer_df.loc[:, 'number of open complaints'][(customer_df['number of open complaints'] == '1/0/00')] = 0
customer_df.loc[:, 'number of open complaints'][(customer_df['number of open complaints'] == '1/2/00')] = 2
customer_df.loc[:, 'number of open complaints'][(customer_df['number of open complaints'] == '1/3/00')] = 3
customer_df.loc[:, 'number of open complaints'][(customer_df['number of open complaints'] == '1/5/00')] = 5
customer_df.loc[:, 'number of open complaints'][(customer_df['number of open complaints'] == '1/4/00')] = 4
customer_df.loc[:, 'number of open complaints'][(customer_df['number of open complaints'] == '1/1/00')] = 1
customer_df['number of open complaints'].unique()

/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/4127312646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df.loc[:, 'number of open complaints'][(customer_df['number of open complaints'] == '1/0/00')] = 0
/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/4127312646.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df.loc[:, 'number of open complaints'][(customer_df['number of open complaints'] == '1/2/00')] = 2
/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/4127312646.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df.loc[:, 'number of open complaints'][(customer_df['number of open complaints'] == '1/3/00')] = 3
/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/4127312646.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df.loc[:, 'number of open complaints'][(customer_df['number of open complaints'] == '1/5/00')] = 5
/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/4127312646.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df.loc[:, 'number of open complaints'][(customer_df['number of open complaints'] == '1/4/00')] = 4
/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/4127312646.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df.loc[:, 'number of open complaints'][(customer_df['number of open complaints'] == '1/1/00')] = 1

array([0, 2, 1, 3, 5, 4, nan], dtype=object)

In [582]:
customer_df

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,unnamed: 0
0,Washington,NaN,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934,NaN
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935,NaN
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247,NaN
3,California,M,Bachelor,764586.18%,0.0,106.0,0,Corporate Auto,SUV,529.881344,NaN
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,7065.0
7066,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,7066.0
7067,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,7067.0
7068,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,7068.0
7069,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,7069.0

In [583]:
customer_df['customer lifetime value'] = customer_df['customer lifetime value'].str.rstrip('%').astype('float') / 100.0

In [584]:
customer_df=customer_df.drop_duplicates()

In [585]:
customer_df.drop_duplicates(inplace=True)

/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [586]:
customer_df.duplicated().sum()

0

In [587]:
customer_df[customer_df['income'].isna()==True]

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,unnamed: 0
1071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [588]:
mean_median_income = np.mean(customer_df['income'])
customer_df['income'] = customer_df['income'].fillna(mean_median_income)

/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/102721562.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df['income'] = customer_df['income'].fillna(mean_median_income)

In [589]:
mean_median_mpa = np.mean(customer_df['monthly premium auto'])
customer_df['monthly premium auto'] = customer_df['monthly premium auto'].fillna(mean_median_mpa)

/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/3577297851.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df['monthly premium auto'] = customer_df['monthly premium auto'].fillna(mean_median_mpa)

In [590]:
mean_median_tca = np.mean(customer_df['total claim amount'])
customer_df['total claim amount'] = customer_df['total claim amount'].fillna(mean_median_tca)

/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/2597548493.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df['total claim amount'] = customer_df['total claim amount'].fillna(mean_median_tca)

In [591]:
mean_median_u8 = np.mean(customer_df['unnamed: 0'])
customer_df['unnamed: 0'] = customer_df['unnamed: 0'].fillna(mean_median_u8)

/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/1244533518.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df['unnamed: 0'] = customer_df['unnamed: 0'].fillna(mean_median_u8)

In [592]:
customer_df['gender'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [593]:
customer_df.loc[:, 'gender'][(customer_df['gender'] == 'female')] = "F"
customer_df.loc[:, 'gender'][(customer_df['gender'] == 'Femal')] = "F"
customer_df.loc[:, 'gender'][(customer_df['gender'] == 'Male')] = "M"


customer_df['gender'].unique()

/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/500728694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df.loc[:, 'gender'][(customer_df['gender'] == 'female')] = "F"
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/500728694.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df.loc[:, 'gender'][(customer_df['gender'] == 'Femal')] = "F"
/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/500728694.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df.loc[:, 'gender'][(customer_df['gender'] == 'Male')] = "M"

array([nan, 'F', 'M'], dtype=object)

In [594]:
customer_df.gender.unique()

array([nan, 'F', 'M'], dtype=object)

In [595]:
customer_df.st.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [596]:
customer_df['st'].unique()
customer_df.loc[:,'st'][(customer_df['st'] == 'Cali')] = "California"
customer_df.loc[:,'st'][(customer_df['st'] == 'AZ')] = "Arizona"
customer_df.loc[:,'st'][(customer_df['st'] == 'WA')] = "Washington"
customer_df['st'].unique()

/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/308125048.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df.loc[:,'st'][(customer_df['st'] == 'Cali')] = "California"
/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/308125048.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df.loc[:,'st'][(customer_df['st'] == 'AZ')] = "Arizona"
/var/folders/qg/crcztcy17rbfrp2nsq_7_5lw0000gn/T/ipykernel_4237/308125048.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df.loc[:,'st'][(customer_df['st'] == 'WA')] = "Washington"

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [597]:
customer_df = customer_df[customer_df['income'].isna()==False]

In [598]:
mean_income = np.mean(customer_df['income'])
customer_df['income'] = customer_df['income'].fillna(mean_income)

In [599]:
customer_df

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,unnamed: 0
0,Washington,NaN,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934,3534.5
1,Arizona,F,Bachelor,6979.5359,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935,3534.5
2,Nevada,F,Bachelor,12887.4317,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247,3534.5
3,California,M,Bachelor,7645.8618,0.0,106.0,0,Corporate Auto,SUV,529.881344,3534.5
4,Washington,M,High School or Below,5363.0765,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323,3534.5
...,...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,NaN,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,7065.0
7066,California,F,College,NaN,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,7066.0
7067,California,M,Bachelor,NaN,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,7067.0
7068,California,M,College,NaN,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,7068.0
7069,California,M,College,NaN,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,7069.0

In [600]:
mean_median_u8 = np.mean(customer_df['customer lifetime value'])
customer_df['customer lifetime value'] = customer_df['customer lifetime value'].fillna(mean_median_u8)

In [601]:
customer_df

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,unnamed: 0
0,Washington,NaN,Master,7794.093685,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934,3534.5
1,Arizona,F,Bachelor,6979.535900,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935,3534.5
2,Nevada,F,Bachelor,12887.431700,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247,3534.5
3,California,M,Bachelor,7645.861800,0.0,106.0,0,Corporate Auto,SUV,529.881344,3534.5
4,Washington,M,High School or Below,5363.076500,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323,3534.5
...,...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,7794.093685,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,7065.0
7066,California,F,College,7794.093685,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,7066.0
7067,California,M,Bachelor,7794.093685,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,7067.0
7068,California,M,College,7794.093685,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,7068.0
7069,California,M,College,7794.093685,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,7069.0

In [602]:
mean_without_zeros = customer_df['income'][customer_df['income'] >0].mean()

In [603]:
mean_without_zeros

50504.282410890155

In [604]:
customer_df["income"] = customer_df["income"].replace({"0.0": "50504"})

In [605]:
customer_df

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,unnamed: 0
0,Washington,NaN,Master,7794.093685,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934,3534.5
1,Arizona,F,Bachelor,6979.535900,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935,3534.5
2,Nevada,F,Bachelor,12887.431700,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247,3534.5
3,California,M,Bachelor,7645.861800,0.0,106.0,0,Corporate Auto,SUV,529.881344,3534.5
4,Washington,M,High School or Below,5363.076500,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323,3534.5
...,...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,7794.093685,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,7065.0
7066,California,F,College,7794.093685,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,7066.0
7067,California,M,Bachelor,7794.093685,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,7067.0
7068,California,M,College,7794.093685,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,7068.0
7069,California,M,College,7794.093685,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,7069.0

In [606]:
customer_df["st"] = customer_df["st"].replace({"California": "West Region", "Oregon": "North West", "Washington": "East", "Arizona":"Central", "Nevada":"Central"})

In [607]:
customer_df

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,unnamed: 0
0,East,NaN,Master,7794.093685,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934,3534.5
1,Central,F,Bachelor,6979.535900,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935,3534.5
2,Central,F,Bachelor,12887.431700,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247,3534.5
3,West Region,M,Bachelor,7645.861800,0.0,106.0,0,Corporate Auto,SUV,529.881344,3534.5
4,East,M,High School or Below,5363.076500,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323,3534.5
...,...,...,...,...,...,...,...,...,...,...,...
7065,West Region,M,Bachelor,7794.093685,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,7065.0
7066,West Region,F,College,7794.093685,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,7066.0
7067,West Region,M,Bachelor,7794.093685,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,7067.0
7068,West Region,M,College,7794.093685,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,7068.0
7069,West Region,M,College,7794.093685,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,7069.0

In [608]:
customer_df = customer_df.applymap(lambda s:s.lower() if type(s) == str else s)

In [609]:
customer_df

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,unnamed: 0
0,east,NaN,master,7794.093685,0.0,1000.0,0.0,personal auto,four-door car,2.704934,3534.5
1,central,f,bachelor,6979.535900,0.0,94.0,0.0,personal auto,four-door car,1131.464935,3534.5
2,central,f,bachelor,12887.431700,48767.0,108.0,0.0,personal auto,two-door car,566.472247,3534.5
3,west region,m,bachelor,7645.861800,0.0,106.0,0.0,corporate auto,suv,529.881344,3534.5
4,east,m,high school or below,5363.076500,36357.0,68.0,0.0,personal auto,four-door car,17.269323,3534.5
...,...,...,...,...,...,...,...,...,...,...,...
7065,west region,m,bachelor,7794.093685,71941.0,73.0,0.0,personal auto,four-door car,198.234764,7065.0
7066,west region,f,college,7794.093685,21604.0,79.0,0.0,corporate auto,four-door car,379.200000,7066.0
7067,west region,m,bachelor,7794.093685,0.0,85.0,3.0,corporate auto,four-door car,790.784983,7067.0
7068,west region,m,college,7794.093685,21941.0,96.0,0.0,personal auto,four-door car,691.200000,7068.0
7069,west region,m,college,7794.093685,0.0,77.0,0.0,corporate auto,two-door car,369.600000,7069.0

In [610]:
customer_df._get_numeric_data()

,customer lifetime value,income,monthly premium auto,number of open complaints,total claim amount,unnamed: 0
0,7794.093685,0.0,1000.0,0.0,2.704934,3534.5
1,6979.535900,0.0,94.0,0.0,1131.464935,3534.5
2,12887.431700,48767.0,108.0,0.0,566.472247,3534.5
3,7645.861800,0.0,106.0,0.0,529.881344,3534.5
4,5363.076500,36357.0,68.0,0.0,17.269323,3534.5
...,...,...,...,...,...,...
7065,7794.093685,71941.0,73.0,0.0,198.234764,7065.0
7066,7794.093685,21604.0,79.0,0.0,379.200000,7066.0
7067,7794.093685,0.0,85.0,3.0,790.784983,7067.0
7068,7794.093685,21941.0,96.0,0.0,691.200000,7068.0
7069,7794.093685,0.0,77.0,0.0,369.600000,7069.0

In [611]:
customer_df.select_dtypes('object')

               st gender             education     policy type  vehicle class
0            east    NaN                master   personal auto  four-door car
1         central      f              bachelor   personal auto  four-door car
2         central      f              bachelor   personal auto   two-door car
3     west region      m              bachelor  corporate auto            suv
4            east      m  high school or below   personal auto  four-door car
...           ...    ...                   ...             ...            ...
7065  west region      m              bachelor   personal auto  four-door car
7066  west region      f               college  corporate auto  four-door car
7067  west region      m              bachelor  corporate auto  four-door car
7068  west region      m               college   personal auto  four-door car
7069  west region      m               college  corporate auto   two-door car

[9125 rows x 5 columns]

In [565]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df2 = df.read_csv ('Data_Marketing_Customer_Analysis_Round3.csv')
df2